# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/seleniumforbeginners.iml
target/generated-test-sources/
target/test-classes/com/
/target/
/allure-results/
/test-output/
/src/main/resources/Profiles/
/.allure/
/src/main/resources/drivers/
/src/main/resources/chromedriver
/src/main/resources/geckodriver
/src/main/resources/msedgedriver
/src/main/resources/phantomjs
